.DS_Store
.synctex.gz
.aux
*.log
*.out
*.gz
*.aux

songbooks/acre-2014/separata_acre_2014.log

*.out

*.sxc

songbooks/acre-2014/separata_acre_2014.synctex.gz

*.sxd

songbooks/psalterio/psalterio.log

songbooks/psalterio/psalterio.synctex.gz

*.swp

songs/pt/jesus_comigo_está_261.tex

songs/pt/jesus_comigo_está_261.tex
